body {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
}


// answers
.edit_answer { display: none; }

.accepted {
  background-color: #99ff67;
}

.hide {
  display: none;
}