body {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.hide {
  display: none;
}

// answers
.edit_answer { display: none; }

.accepted {
  background-color: #99ff67;
}

// questions
.edit-question-form {
  display:none;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

.question-row {
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}

.question {
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
