body {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.hide {
  display: none;
}

// answers
.edit_answer { display: none; }

.accepted {
  background-color: #99ff67;
}

// questions
.edit-question-form {
  display:none;
}
//
//.btn-discard-question {
//  visibility: hidden;
//}
//
//.edit-question-form .btn-discard-question {
//  visibility: visible;
//}